body {
  background-color: #b6f4c6fa;
}

.HomePage {
  display: flex;
  justify-content: center;
  font-size: calc(20px + 5vmin);
  font-style: bold;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(to bottom, #61dafb 80%,#b6f4c6fa 20%,#b6f4c6fa 0%);
  background-color: #61dafb;
  padding-bottom: 25px;
}

.Auth {
  display: flex;
  position: absolute;
  padding-top: 2.5mm;
  padding-right: 1ch;
  right: 0;
}

.SignBtn {
  display: flex;
  justify-content: right;
}

.Lower {
  display: flex;
  justify-content: center;
}

.HomeBtn {
  justify-items: center;
  border-radius: 10px;
  border: 4px double black;
  background-color: #b9f2ef;
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  display: inline-flex;
  align-items: center;
  position: absolute;
  bottom: 5%;
}

.HomeBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.HomeBtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.HomeBtn:hover {
  background-color: #74efe9;
}

.HomeBtn:hover span {
  padding-right: 25px;
}

.HomeBtn:hover span:after {
  opacity: 1;
  right: 0;
}

/* .Content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  border-color: #41b570;
  border-style: solid;
  border-width: 10px;
} */

