.Title {
    display: flex;
    justify-content: center;
    font-size: calc(16px + 5vmin);
    font-style: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to bottom, #61dafb 80%,#b6f4c6fa 20%,#b6f4c6fa 0%);
    background-color: #61dafb;
    padding-bottom: 25px;
  }
  
  .Btn {
      justify-content: center;
      justify-items: center;
      border-radius: 10px;
      border: 4px double black;
      background-color: #b9f2ef;
      color: black;
      text-align: center;
      font-size: 15px;
      padding: 5px;
      width: 150px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
      display: inline-flex;
      align-items: center;
      position: absolute;
      bottom: 5%;
    }
    
    .Btn span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    .Btn span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    
    .Btn:hover {
      background-color: #74efe9;
    }
    
    .Btn:hover span {
      padding-right: 25px;
    }
    
    .Btn:hover span:after {
      opacity: 1;
      right: 0;
    }